{% extends "layouts/base.html" %}
{% block content %}
{% include "layouts/navbar.html" %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <h5 class="card-header">Upload Konten Video</h5>
                    <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data" class="row g-3">
                            {% csrf_token %}
                            <div class="col-6">
                              <label for="judul" class="form-label">Judul</label>
                              <input type="text" required value="{{video.judul}}" name="judul" class="form-control" id="judul">
                            </div>
                            <div class="col-6">
                                <label for="thumbnail">Thumbnail</label>
                                <input type="file" required onchange="previewImage()" id="image" class="form-control" value="{{video.thumbnail}}" name="thumbnail" id="thumbnail" multiple>
                            </div>
                            <div class="col-6">
                              <label for="deskripsi" class="form-label">Deskripsi</label>
                              <textarea class="form-control" required value="" name="deskripsi" rows="1">{{video.deskripsi}}</textarea>
                            </div>
                            <div class="col-6">
                                <h6>Upload Video</h6>
                                <label class="me-2"><input type="radio" name="upload_type" value="file" class="form-check-input" onchange="changeUploadType()" onchange="handleChange(this);"> Upload dengan File</label>
                                <label><input type="radio" name="upload_type" value="link" class="form-check-input" onchange="changeUploadType()" onchange="handleChange(this);"> Upload dengan Link Youtube</label>

                                <div id="upload_type_file" class="mt-2 " style="display: none;">
                                    <label for="video_file">Pilih Video:</label>
                                    <input class="form-control" value=" "  type="file" id="video_file" name="file_video">
                                </div>

                                <div id="upload_type_link" class="mt-2 " style="display: none;">
                                    <label for="video_link">Masukkan Link Video:</label>
                                    <input class="form-control" type="text" id="video_link" name="link_video">
                                </div>

                            </div>
                            <div class="col-6">
                              <label for="lisensi" class="form-label">Pilih Lisensi</label>
                              <select class="form-select {% if lisensi.errors %}is-invalid{% endif %}" name="lisensi">
                                {% for lisensi in lisensi %}
                                    <option value="{{ lisensi.id }}" {% if lisensi.id  == video.lisensi_id %}selected{% endif %}>
                                        {{ lisensi.nama_lisensi }}
                                    </option>
                                {% endfor %}
                              </select>
                            </div>
                            <div class="col-6">
                              <label for="kategori" class="form-label">Pilih Kategori</label>
                              <select class="form-select {% if kategori.errors %}is-invalid{% endif %}" name="kategori">
                                {% for kategori in kategori %}
                                    <option value="{{ kategori.id }}" {% if video.kategori_id == kategori.id %}selected{% endif %}>{{ kategori.nama_kategori }}</option>
                                {% endfor %}
                              </select>
                            </div>
                            <a href="https://creativecommons.or.id/lisensi-cc-bahasa-indonesia/">Cari tahu tentang
                                lisensi Creative Commons</a>                            
                            <div class="col-3">
                                <h6>Thumbnail</h6>
                                <img class="img-preview img-fluid" style="width: 175px; height: auto;">
                            </div>
                            <div align="center" class="col-12 mt-3">

                              <button  type="submit" class="btn btn-primary w-100">Submit</button>
                            </div>
                          </form>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function previewImage() {
            const image = document.querySelector('#image');
            const imgPreview = document.querySelector('.img-preview');

            imgPreview.style.display = 'block';

            const oFReader = new FileReader();
            oFReader.readAsDataURL(image.files[0]);

            oFReader.onload = function(oFREvent) {
                imgPreview.src = oFREvent.target.result;
            }
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function changeUploadType() {
            var selectedRadio = $("input[name='upload_type']:checked").val();
             
            if(selectedRadio == "file") {
               $("#upload_type_file").show();
               $("#upload_type_link").hide().find('input').val('');
            } else if(selectedRadio == "link") {
               $("#upload_type_file").hide().find('input').val('');
               $("#upload_type_link").show();
            }
           }
        
        function handleChange(radio) {
            var otherRadio = radio.value === "file" ? "link" : "file";
            document.getElementById(otherRadio).disabled = radio.checked;
           }
    </script>
    

{% endblock content %}