<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Biru Academy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <style>
    .font-primary{
        font-family: 'Poppins';
        font-style: normal;
        color: white;
    }
  </style>
  <body>
    <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="media/logo.png" alt="Bootstrap" width="65" height="auto">
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse float-end" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active"  aria-current="page" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="#tentang">Tentang</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="#fitur">Fitur</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="#lokasi">Lokasi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="#contact">Contact</a>
              </li>
            </ul>
            <div class="d-flex">
                <a type="button" class="btn mx-2 btn-primary" href="/login" >Login</a >
                <a type="button" class="btn btn-primary" href="/register" >Register</a >
            </div>
          </div>
        </div>
      </nav>
      </header>

      <div class="container-fluid" style="background-image: url('media/background_home.png');" id="home">
          <div class="p-md-5 mb-4 text-body-emphasis ">
            <div class="col-lg-7 px-0">
              <h1 class=" font-primary" style="font-size:50px; font-weight: 700; line-height: 92px;">Pengen Dapat Ilmu Banyak? Dengan Biru Academy dong!!</h1>
              <p class="lead my-3 font-primary" style="font-size:25px; font-weight: 400; line-height: 50px;">Menyediakan berbagai konten pembelajaran yang dapat diakses secara gratis</p>
              <a type="button" class="btn btn-primary" style="width: 200px;" href="/register" >Mulai Belajar</a >
            </div>
          </div>
        </div>

        <div class="container-fluid mb-4" id="tentang">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <img src="media/landing.png" alt="Deskripsi gambar" class="img-fluid">
            </div>
            <div class="container">
                <h1 class="" style="font-family:Poppins;" >Kenapa Harus Biru Academy?</h1>
                <p style="font-family:Poppins; text-align:justify; line-height:30px; font-size:20px;" >Biru Academy merupakan platform belajar yang menerapkan prinsip OER (Open Educational Resources) menyediakan berbagai konten mulai dari video, gambar, modul, dan audio yang dapat diakses secara gratis oleh para pelajar di Indonesia,
                    website ini juga merupakan wadah untuk para pengajar yang ingin berbagi ilmu kepada para pelajar di Indonesia. konten yang dibagikan di website ini juga sudah melalui proses verifikasi lisensi CC (Creative Commons) sehingga para pengajar tidak perlu khawatir dengan konten yang dibagikan di website ini.
                    Biru Academy  hadir sebagai bentuk inovasi pembelajaran di era industri 4.0 yang dapat dimanfaatkan oleh mahasiswa dan dosen. Dengan menggunakan Biru Academy, kita dapat belajar di mana saja, kapan saja dengan siapa saja. Seluruh konten yang ada di Biru Academy dapat diakses dan dimanfaatkan secara gratis.
                </p>
            </div>
        </div>

        <hr class="container">

        <div class="container-fluid mt-4 pt-4" id="fitur">
            <div class="row">
                <h1 class="text-center" style="font-family:Poppins;" >Jelajahi Apa Yang Kamu Bisa Lakukan di </h1>
                <h1 class="text-center"><strong >Biru Academy</strong></h1>
                
                <div class=" d-flex align-items-center justify-content-center" style="margin-top:100px;">
                    <div class="col-lg-3 text-center">
                        <img src="media/info.png" class="bd-placeholder-img mb-3" width="140" height="140" >
                        <h2 class="fw-normal mb-3">Gambar</h2>
                        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                        
                    </div>

                    <div class="col-lg-3 text-center">
                        <img src="media/video-player.png" class="bd-placeholder-img mb-3" width="140" height="140" >
                        <h2 class="fw-normal mb-3">Video</h2>
                        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                        
                    </div>

                    <div class="col-lg-3 text-center">
                        <img src="media/infographic.png" class="bd-placeholder-img mb-3" width="140" height="140" >
                        <h2 class="fw-normal mb-3">Modul</h2>
                        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                        
                    </div>
                
                    <div class="col-lg-3 text-center">
                        <img src="media/audio-book.png" class="bd-placeholder-img mb-3" width="140" height="140" >
                        <h2 class="fw-normal mb-3">Audio</h2>
                        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                        
                    </div>
                </div>
            </div>
        </div>

        <hr class="container">

        <div class="container" id="lokasi">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.56811064155!2d107.72294867356582!3d-6.942106067955688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68c3b2a6d2e33d%3A0xae6050949dbda20e!2sUPI!5e0!3m2!1sid!2sid!4v1704004454448!5m2!1sid!2sid" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <hr class="container">

        <div class="container-fluid" style="background-color:#011E4A;" id="contact">
            <footer class="row row-cols-4 row-cols-sm-2 row-cols-md-5 py-5 my-5">
              <div class="col mb-3">
                <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                  <img src="media/logo.png" width="100px" height="auto">
                </a>
                <p class="text-body-light" style="color:white;" >UNIVERSITAS PENDIDIKAN INDONESIA KAMPUS UPI DI CIBIRU</p>
              </div>

              <div class="col mb-3" style="color:white;">
                
              </div>
              
              <div class="col mb-3" style="color:white;">
                <h5>Section</h5>
                <ul class="nav flex-column" style="color:white;">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light" style="color:white;">m.alinurrohman10@upi.edu</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light" style="color:white;">adwaallsaf@gmail.com</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light" style="color:white;">f.fatih.k28@gmail.com</a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light" style="color:white;">riskiinferno@gmail.com</a></li>
            
                </ul>
              </div>

              
          
              <div class="col-4 mb-3" style="color:white;">
                <h5>Section</h5>
                <ul class="nav flex-column" style="color:white;">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light" style="color:white;">+62224231191 </a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light" style="color:white;">+62224231191 </a></li>
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-light" style="color:white;">Jl. Pendidikan No.15, Cibiru Wetan, Kec. Cileunyi, Kabupaten Bandung, Jawa Barat 40625</a></li>
                </ul>
              </div>

            </footer>
          </div>
          
        

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>