{% extends "layouts/base.html" %}
{% block content %}
{% include "layouts/navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="{{ profile.profile_image.url }}" class="card-img-top" alt="...">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Nama : {{profile.nama_lengkap}}</li>
                  <li class="list-group-item">Tanggal Lahir : {{profile.tanggal_lahir}}</li>
                  <li class="list-group-item">Alamat : {{profile.alamat}}</li>
                  <li class="list-group-item">Jenis Kelamin : {{profile.jenis_kelamin}}</li>
                  <li class="list-group-item">No. Hp : {{profile.no_hp}}</li>
                  <li class="list-group-item">Username : {{user.username}}</li>
                  <li class="list-group-item">Email : {{user.email}}</li>
                </ul>
                <div class="card-body">
                  <a href="/settings" type="button" class="btn btn-primary card-link"><i class="fa-solid fa-pencil"></i> Edit Profile</a>
                </div>
              </div>
        </div>

        <div class="col-8">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item ">
                  <a class="nav-link active" data-toggle="tab" aria-current="page" href="#gambar">Gambar</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#video">Video</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#modul">Modul</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#audio">Audio</a>
                </li>
                
            </ul>

            <div class="tab-content">
                <div id="gambar" class="tab-pane in active row">
                    {% for postImage in post %}
                        <div class="col-6 mt-4">
                            {% include "card_post/card_image.html" %}
                    {% endfor %}
                </div>

                <div id="video" class="tab-pane">
                    {% for video in video %}
                        <div class="col-6">
                            {% include "card_post/card_video.html" %}
                    {% endfor %}
                </div>

                <div id="modul" class="tab-pane">
                    {% for modul in modul %}
                        <div class="col-6">
                            {% include "card_post/card_modul.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

    

{% include 'layouts/footer.html' %} 
{% endblock content %}