{% extends "layouts/base.html" %}
{% block content %}
{% include "layouts/navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ profile.profile_image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>

        <div class="col-8">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item ">
                  <a class="nav-link active" data-toggle="tab" aria-current="page" href="#gambar">Gambar</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#video">Video</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#modul">Modul</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#audio">Audio</a>
                </li>
                
            </ul>

            <div class="tab-content">
                <div id="gambar" class="tab-pane in active row">
                    {% for postImage in post %}
                        <div class="col-6 mt-4">
                            {% include "card_post/card_image.html" %}
                    {% endfor %}
                </div>

                <div id="video" class="tab-pane">
                    {% for video in video %}
                        <div class="col-6">
                            {% include "card_post/card_video.html" %}
                    {% endfor %}
                </div>

                <div id="modul" class="tab-pane">
                    {% for modul in modul %}
                        <div class="col-6">
                            {% include "card_post/card_modul.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

    

{% include 'layouts/footer.html' %} 
{% endblock content %}