{% extends "layouts/base.html" %}
{% block content %}
{% include 'layouts/navbar.html' %}

<div class="container ">
    <h1 class="mb-5" >Detail Gambar</h1>
    <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for photo in photos %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for photo in photos %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <a href="{{photo.image.url}}"><img src="{{ photo.image.url }}" class="d-block img-thumbnail w-100" alt="{{ photo.title }}"></a>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="p-md-5 mb-4 text-body-emphasis ">
        <div class="col-lg-12 px-0">
          <h5 class=" font-primary" style="font-size:50px; font-weight: 700; line-height: 50px;">{{post.judul}}</h5>
          <strong style="font-size:25px; font-weight: 400; line-height: 50px;">Deskripsi</strong>
          <p class="lead " style="font-size:20px; font-weight: 400; line-height: 20px;">{{post.kategori_id}}</p>
          {%if post.lisensi_id.nama_lisensi == "CC BY"%}
            <p class="lead " style="font-size:20px; font-weight: 400; line-height: 20px;"><p xmlns:cc="http://creativecommons.org/ns#" > <a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"></a></p></p>
          {%elif post.lisensi_id.nama_lisensi == "CC BY ND"%}
            <p class="lead " style="font-size:20px; font-weight: 400; line-height: 20px;"><p xmlns:cc="http://creativecommons.org/ns#" ><a href="http://creativecommons.org/licenses/by-nd/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1"></a></p></p>
            {%elif post.lisensi_id.nama_lisensi == "CC BY SA"%}
            <p class="lead " style="font-size:20px; font-weight: 400; line-height: 20px;"><p xmlns:cc="http://creativecommons.org/ns#" > <a href="http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1"></a></p></p>
          {%endif%}
          <p class="lead my-3" style="font-size:25px; font-weight: 400; line-height: 50px;">{{post.deskripsi}}</p>
          
          <p class="text-body-light"><i class="fa-solid fa-heart"></i>  {{post.no_of_like}} </p>
          <a class="btn btn-primary" href="/like_post?post_id={{ post.id_post }}" role="button"><i class="fa-solid fa-heart"></i></a>
          <button type="button" class="btn  btn-primary" data-bs-toggle="modal" data-bs-target="#modal-share{{ postImage.id_post }}"><i class="fa-solid fa-share"></i></button>
          <a class="btn btn-primary" href="{% url 'download_images' post_id=post.id_post %}" role="button"><i class="fa-solid fa-download"></i></i></a>
        </div>
      </div>

      <div class="modal fade" id="modal-share{{ postImage.id_post }}"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel{{ postImage.id_post }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalLabel{{ postImage.id_post }}">Bagikan Konten</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body row">   
                    <p>Bagikan konten ini melalui:</p>
                    <div class="input-group mb-3 col-12">
                        <input type="text" class="form-control" value="{{ request.build_absolute_uri }}" readonly>
                        <button class="btn btn-outline-secondary" onclick="copyToClipboard()"><i class="fa-solid fa-copy"></i></button>
                    </div>
      
                    <a type="button" class="btn btn-success col-2 mx-3" href="whatsapp://send?text={{ request.build_absolute_uri }}" data-action="share/whatsapp/share"><i class="fa-brands fa-whatsapp"></i></a>
                    <a type="button" class="btn btn-primary col-2 mx-3" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a type="button" class="btn btn-info col-2 mx-3" href="https://t.me/share/url?url={{ request.build_absolute_uri }}" target="_blank"><i class="fa-brands fa-telegram" ></i></a>
                    <a type="button" class="btn btn-danger col-2 mx-3" href="https://www.instagram.com/?url={{ request.build_absolute_uri }}" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>
      </div>


</div>



  

{% endblock content %}

